body {
    margin: 0;  
    background-color: var(--main-background);
    font-family: var(--ff-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: var(--container-max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    min-width: var(--container-min-width);
    box-sizing: content-box;
}

.header {
    font-size: 16px;
    font-weight: 400;

    &__inner {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;

        border-radius: 8px;
        background-color: var(--header);
        box-shadow: var(--block-shadow);
    }

    &__logo {
        height: 40px;
        margin-left: 16px;
    }

    &__nav {
        display: flex;
        gap: 24px;
        margin-left: min(6.5%, 60px);
    }

    &__button {
        margin-left: auto;
    }

    &__link {
        min-width: max-content;

        &:hover {
            color: red;
        }
    }
}

.button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 28px;

    border: none;
    box-shadow: var(--card-shadow);
    border-radius: 3px;
    cursor: pointer;

    &_bright {
        color: var(--alternate-button-text-color);
        background-color: var(--alternate-button);
        border: 1px solid var(--alternate-button-border);
    }

    &_accent {
        color: var(--main-button-text-color);
        background-color: var(--main-button);
        border: 1px solid var(--main-button);
    }
}

.footer {

    margin-top: auto;

    &_description {
        margin-top: 16px;
        margin-left: 16px;
    }

    &__inner {
        margin: 0 auto;
        margin-top: 25px;
        max-width: 100%;
        min-width: 690px;
        height: 200px;
        align-items: center;
        background-color: var(--header);
        border-radius: 10px 10px 0 0;
        box-shadow: var(--block-shadow);
    }

    &__navigate {
        display: flex;
        align-items: flex-end;
        padding: 0;
        height: 50%;
        margin-left: 16px;
        gap: 20px;
    }
}