@use "/src/assets/styles/reset.scss";
@use "/src/assets/styles/general.scss";
@use "/src/assets/styles/bem.scss";

a {
    color: black;
}

ul {
    list-style-type: none;
}

li {
    padding: 0 10px;
    font-size: 16px;
}

.main-content {

    margin-top: 25px;

    &__container {
        margin: 0 auto;
        max-width: 100%;
        min-width: 285px;

    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        gap: 20px;

    }
}


.card {
    display: flex;
    flex-direction: column;
    min-height: 430px;
    overflow: hidden;
    background-color: var(--card-background-color);
    box-shadow: var(--box-shadow);
    border-radius: 24px;
    padding: 16px;
    padding-bottom: 30px;

    &__img {
        align-content: center;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 16px;
    }

    &__img_animals {
        background-image: url('/src/assets/images/cards/cat_640x640.jpg');
    }

    &__img_sports {
        background-image: url('/src/assets/images/cards/sport1.jpg');
    }

    &__title {
        margin: 0;
        margin-top: 20px;
        font-size: 28px;
        font-weight: 700;
    }

    &__description {
        margin: 0;
        margin-top: 8px;
        margin-bottom: 27px;
        font-size: 16px;
        overflow-wrap: break-word;
        hyphens: auto;
    }

    &__button {
        align-self: flex-start;
        min-width: 140px;
        padding: 12px;
        margin: 0;
        margin-top: auto;
        border: 1px solid var(--alternate-button-border);
        box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
        border-radius: 6px;
        font-size: 16px;
        color: var(--alternate-button-text-color);
        background-color: var(--alternate-button);
    }
}

